
# BEGIN BackUpWordPress
# Строки между `BEGIN BackUpWordPress` и `END BackUpWordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=bfd833af3d9b5b4c9e512ab8667f5a8a
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress