.documentation-page {
  padding: 20px 50px;
}

.documentation-page__title {
  font-family: 'Neue Machina Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: .001em;
  color: #000;
  margin-bottom: 64px
}

.documentation-page__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap
}

.documentation-page__row .row__item {
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 36px 24px 24px;
  width: calc(100% / 3 - 72px);
  min-width: calc(100% / 3 - 18px);
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
  margin-bottom: 36px
}

.documentation-page__row .row__item .item__name {
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.documentation-page__row .row__item .item__size {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Neue Haas Unica';
  text-align: center;
  color: #a0c818;
  margin-bottom: 24px
}

.documentation-page__row .row__item .item__size .item__format {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Neue Haas Unica';
  text-align: center;
  color: #f9423a;
  margin-bottom: 24px;
  text-transform: uppercase
}

.documentation-page__row .row__item .item__size .item__size-count {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  font-family: 'Neue Haas Unica';
  text-align: center;
  color: #f9423a;
  margin-bottom: 24px;
  text-transform: lowercase
}

.documentation-page__row .row__item .item__link {
  display: block;
  width: 100%;
  font-family: 'Neue Haas Unica';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  padding: 11px 0 13px;
  border: 1px solid rgba(51, 51, 51, .2);
  box-sizing: border-box;
  border-radius: 1000px
}

.documentation-page__row .row__item:hover {
  cursor: pointer;
  box-shadow: 0 16px 24px rgba(0, 0, 0, .12)
}