@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeueBold.ttf') format("ttf");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/HelveticaNeue.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
}

