@media screen and (max-width: 991px) {
  .main_header {
    .header {
      .right_header {
        .header_item {
          margin-right: 20px;
        }
      }
    }
  }
  .filter {
    justify-content: center;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 16px;
    h4 {
      font-size: 14px;
    }
    .btn_filter {
      font-size: 14px;
    }
    .filter__list {
      max-width: 100%;
      width: 100%;
      left: 0;
      align-items: center;
      top: 55px;
      box-shadow: 0 5px 5px rgba(0,0,0,.12);
    }
  }
  .filter_col {
    padding: 0;
  }
  .category {
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .main {
    .news-item {
      padding: 10px 10px 0 0;
      max-width: 340px;
      .category-title {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
  .news_col {
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .video-wrapp {
    .news-item {
      padding: 0 10px 0;
      max-width: 100%;
    }
  }
  .form_title {
    font-size: 40px;
    line-height: 50px;
  }
  .footer {
    .footer__items {
      .footer_navigation {
        .top {
          flex-wrap: wrap;
          a,button {
            margin-right: 10px;
            font-size: 14px;
            margin-bottom: 16px;
          }

          .support_project {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
  .news__title {
    font-size: 25px;
    line-height: 35px;
  }
  .small__title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 25px;
    line-height: 33px;
  }
  .news__par {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #player {
    min-height: 500px;
  }
  .wrap {
    min-height: 500px;
  }
  .documentation-page__row .row__item {
    width: calc(100% / 2 - 17px);
    min-width: calc(100% / 2 - 17px)
  }
  .about-page {
    .form_title {
      font-size: 40px;
      line-height: 50px;
    }
  }
}

